<section class="full-case-sale" id="credit">
    <h2>Đồ cũ hỗ trợ trả góp 0%</h2>
    <button class="prev">&#10094;</button>
    <div class="slider">
        <div class="full-case-sale-content">
            <div class="item-full-case">
                <a href="#">
                    <img src="../image/imag1.png" alt="1">
                </a>
            </div>

            <div class="item-full-case">
                <a href="#">
                    <img src="../image/imag2.png" alt="2">
                </a>
            </div>

            <div class="item-full-case">
                <a href="#">
                    <img src="../image/imag3.png" alt="3">
                </a>
            </div>

            <div class="item-full-case">
                <a href="#">
                    <img src="../image/imag4.png" alt="4">
                </a>
            </div>

            <div class="item-full-case">
                <a href="#">
                    <img src="../image/imag4.png" alt="5">
                </a>
            </div>

            <div class="item-full-case">
                <a href="#">
                    <img src="../image/imag4.png" alt="6">
                </a>
            </div>

            <div class="item-full-case">
                <a href="#">
                    <img src="../image/imag4.png" alt="7">
                </a>
            </div>

            <div class="item-full-case">
                <a href="#">
                    <img src="../image/imag4.png" alt="8">
                </a>
            </div>
        </div>
    </div>
    <button class="next">&#10095;</button>
</section>
