<section class="full-case-sale" id="credit">
    <h2>Đồ cũ hỗ trợ trả góp 0%</h2>
    <button class="prev">&#10094;</button>
    <div class="slider">
        <div class="full-case-sale-content">
            <div class="item-full-case">
                <a href="#">
                    <img src="../image/ghe ban go.png" alt="1">
                </a>
            </div>

            <div class="item-full-case">
                <a href="#">
                    <img src="../image/sieu xe.png" alt="2">
                </a>
            </div>

            <div class="item-full-case">
                <a href="#">
                    <img src="../image/xe tang.png" alt="3">
                </a>
            </div>
 
            <div class="item-full-case">
                <a href="#">
                    <img src="../image/may bay.png" alt="4">
                </a>
            </div>

            <div class="item-full-case">
                <a href="#">
                    <img src="../image/dell cu.png" alt="5">
                </a>
            </div>

            <div class="item-full-case">
                <a href="#">
                    <img src="../image/vang cu.png" alt="6">
                </a>
            </div>

            <div class="item-full-case">
                <a href="#">
                    <img src="../image/kim cuong.png" alt="7">
                </a>
            </div>

            <div class="item-full-case">
                <a href="#">
                    <img src="../image/bac.png" alt="8">
                </a>
            </div>
        </div>
    </div>
    <button class="next">&#10095;</button>
</section>
