<link rel="stylesheet" href="../color/style.css">
<header id="header">
    <div class="top-bar">
        <div class="top-left">
            <a href="https://maps.app.goo.gl/UKV3TXACN73WMQCz6" target="_blank">
                <i class="bi bi-geo-alt"></i>
                Địa chỉ nhận trung gian trao đổi</a>
            <a href="footer.html" target="_blank">
                <i class="bi bi-shield-check"></i>
                Dịch vụ trung gian bảo hành - cam kết</a>
            <a href="footer.html" target="_blank">
                <i class="bi bi-person"></i>
                Giới thiệu</a>
            <a href="footer.html" target="_blank">
                <i class="bi bi-arrow-left-right"></i>
                Thu cũ đổi mới bên trung gian</a>
        </div>

        <div class="top-right">


            <div id="guestArea">

                <a href="#" id="btnLogin">
                    <i class="bi bi-person-square"></i>
                    Đăng nhập
                </a>


                <a href="#" id="btnRegister">
                    <i class="bi bi-person-plus"></i>
                    Đăng ký
                </a>

            </div>




            <div id="userArea" style="display:none;">


                <a href="#" id="btnProfile">

                    <i class="bi bi-person-circle"></i>

                    <span id="userName">
                        Tài khoản
                    </span>

                </a>


                <a href="#" id="btnLogout">

                    Đăng xuất

                </a>


            </div>



        </div>
    </div>


    <div class="main-header">

        <div class="logo">
            <a href="index.html">
                <img src="../image/LOGO_MAIN.png" alt="Logo của trang web">
            </a>
        </div>

        <div class="search-box">

    <input
        type="text"
        id="searchInput"
        placeholder="Nhập tên sản phẩm">

    <button id="searchButton">
        <i class="bi bi-search"></i>
    </button>

</div>

        <div class="header-actions">
            <a href="#"><i class="bi bi-telephone"></i> Hotline</a>
            <a href="#"><i class="bi bi-cart"></i> Đơn trao đổi </a>
        </div>

    </div>

    <nav class="category-menu">

    <!-- SÁCH -->
    <div class="dropdown">

        <a href="../component/product-list.html?category=Sách"
            class="dropdown-btn">

            <i class="bi bi-book"></i>
            Trao đổi sách

        </a>

        <div class="dropdown-content">

            <div class="dropdown-content-inner">

                <a href="../component/product-list.html?category=Sách&sub=Sách cấp 2">
                    Sách cấp 2
                </a>

                <a href="../component/product-list.html?category=Sách&sub=Sách cấp 3">
                    Sách cấp 3
                </a>

            </div>

        </div>

    </div>


    <!-- XE -->
    <div class="dropdown">

        <a href="../component/product-list.html?category=Xe"
            class="dropdown-btn">

            <i class="bi bi-car-front"></i>
            Trao đổi xe

        </a>

        <div class="dropdown-content">

            <div class="dropdown-content-inner">

                <a href="../component/product-list.html?category=Xe&sub=Xe máy">
                    Xe máy
                </a>

                <a href="../component/product-list.html?category=Xe&sub=Xe đạp">
                    Xe đạp
                </a>

                <a href="../component/product-list.html?category=Xe&sub=Xe điện">
                    Xe điện
                </a>

            </div>

        </div>

    </div>


    <!-- NỘI THẤT -->
    <div class="dropdown">

        <a href="../component/product-list.html?category=Nội thất"
            class="dropdown-btn">

            <i class="bi bi-house"></i>
            Trao đổi nội thất

        </a>

        <div class="dropdown-content">

            <div class="dropdown-content-inner">

                <a href="../component/product-list.html?category=Nội thất&sub=Ghế bàn gỗ">
                    Ghế bàn gỗ
                </a>

                <a href="../component/product-list.html?category=Đồ điện tử&sub=Tivi">
                    Tivi
                </a>

                <a href="../component/product-list.html?category=Nội thất&sub=Giường ngủ">
                    Giường ngủ
                </a>

            </div>

        </div>

    </div>


    <!-- ĐỒ ĐIỆN TỬ -->
    <div class="dropdown">

        <a href="../component/product-list.html?category=Đồ điện tử"
            class="dropdown-btn">

            <i class="bi bi-laptop"></i>
            Trao đổi đồ điện tử

        </a>

        <div class="dropdown-content">

            <div class="dropdown-content-inner">

                <a href="../component/product-list.html?category=Đồ điện tử&sub=Laptop">
                    Laptop
                </a>

                <a href="../component/product-list.html?category=Đồ điện tử&sub=Điện thoại">
                    Điện thoại
                </a>

            </div>

        </div>

    </div>


    <!-- QUẦN ÁO -->
    <div class="dropdown">

        <a href="../component/product-list.html?category=Quần áo"
            class="dropdown-btn">

            <i class="bi bi-incognito"></i>
            Trao đổi quần áo

        </a>

        <div class="dropdown-content">

            <div class="dropdown-content-inner">

                <a href="../component/product-list.html?category=Quần áo&sub=Áo">
                    Áo
                </a>

                <a href="../component/product-list.html?category=Quần áo&sub=Quần">
                    Quần
                </a>

            </div>

        </div>

    </div>

</nav>
</header>