<link rel="stylesheet" href="../color/style.css">
<header id="header">
    <div class="top-bar">
        <div class="top-left">
            <a href="https://maps.app.goo.gl/UKV3TXACN73WMQCz6" target="_blank">
                <i class="bi bi-geo-alt"></i>
                Địa chỉ nhận trung gian trao đổi</a>
            <a href="footer.html" target="_blank">
                <i class="bi bi-shield-check"></i>
                Dịch vụ trung gian bảo hành - cam kết</a>
            <a href="footer.html" target="_blank">
                <i class="bi bi-person"></i>
                Giới thiệu</a>
            <a href="footer.html" target="_blank">
                <i class="bi bi-arrow-left-right"></i>
                Thu cũ đổi mới bên trung gian</a>
        </div>

        <div class="top-right">


            <div id="guestArea">

                <a href="#" id="btnLogin">
                    <i class="bi bi-person-square"></i>
                    Đăng nhập
                </a>


                <a href="#" id="btnRegister">
                    <i class="bi bi-person-plus"></i>
                    Đăng ký
                </a>

            </div>




            <div id="userArea" style="display:none;">


                <a href="#" id="btnProfile">

                    <i class="bi bi-person-circle"></i>

                    <span id="userName">
                        Tài khoản
                    </span>

                </a>


                <a href="#" id="btnLogout">

                    Đăng xuất

                </a>


            </div>



        </div>
    </div>


    <div class="main-header">

        <div class="logo">
            <a href="index.html">
                <img src="../image/LOGO_MAIN.png" alt="Logo của trang web">
            </a>
        </div>

        <div class="search-box">
            <input type="text" placeholder="Nhập từ khóa cần tìm">
            <button><i class="bi bi-search"></i></button>
        </div>

        <div class="header-actions">
            <a href="#"><i class="bi bi-telephone"></i> Hotline</a>
            <a href="#"><i class="bi bi-cart"></i> Đơn trao đổi </a>
        </div>

    </div>

    <nav class="category-menu">
        <!-- 1. Laptop -->
        <div class="dropdown">
            <a href="../component/product-list.html?category=Sách&sub=Sách cấp 2" class="dropdown-btn"><i class="bi bi-book"></i> Trao đổi sách </a>
            <div class="dropdown-content">
                <div class="dropdown-content-inner">
                    <a href="#">Sách cấp 2</a>
                    <a href="#">Sách cấp 3</a>
                </div>
            </div>
        </div>

        <!-- 2. Phần Mềm -->
        <div class="dropdown">
            <a href="#" class="dropdown-btn"><i class="bi bi-car-front"></i> Trao đổi xe</a>
            <div class="dropdown-content">
                <div class="dropdown-content-inner">
                    <a href="#">Xe máy</a>
                    <a href="#">xe đạp</a>
                    <a href="#">xe điện</a>
                </div>
            </div>
        </div>

        <!-- 3. MAIN -->
        <div class="dropdown">
            <a href="#" class="dropdown-btn"><i class="bi bi-house"></i> Trao đổi nội thất nhà ở</a>
            <div class="dropdown-content">
                <div class="dropdown-content-inner">
                    <a href="#">Ghế bàn gỗ</a>
                    <a href="#">Tivi</a>
                    <a href="#">Giường ngủ</a>
                </div>
            </div>
        </div>

        <!-- 4. CPU -->
        <div class="dropdown">
            <a href="#" class="dropdown-btn"><i class="bi bi-laptop"></i> Trao đổi đồ điện tử</a>
            <div class="dropdown-content">
                <div class="dropdown-content-inner">
                    <a href="#">Laptop</a>
                    <a href="#">Điện thoại</a>
                </div>
            </div>
        </div>

        <!-- 5. RAM -->
        <div class="dropdown">
            <a href="#" class="dropdown-btn"><i class="bi bi-incognito"></i> Trao đổi quần áo</a>
            <div class="dropdown-content">
                <div class="dropdown-content-inner">
                    <a href="#">Áo</a>
                    <a href="#">Quần</a>
                </div>
            </div>
        </div>
    </nav>
</header>