<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB CỦA TUẤN</title>
    <link rel="stylesheet" href="../color/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div id="header"></div>
    <div id="auth"></div>
    <div class="hero-banner">

        <div class="hero-banner-slide active">
            <a href="" target="_blank">
                <img src="../image/ads-1.png" alt="Mô tả tấm ảnh">
            </a>
        </div>


        <div class="hero-banner-slide">
            <a href="" target="_blank">
                <img src="../image/ads-2.png" alt="Mô tả tấm ảnh">
            </a>
        </div>


        <div class="hero-banner-slide">
            <a href="" target="_blank">
                <img src="../image/ads-3.png" alt="Mô tả tấm ảnh">
            </a>
        </div>


        <div class="hero-banner-slide">
            <a href="" target="_blank">
                <img src="image/ads-4.png" alt="Mô tả tấm ảnh">
            </a>
        </div>


        <div class="hero-banner-slide">
            <a href="" target="_blank">
                <img src="../image/ads-5.png" alt="Mô tả tấm ảnh">
            </a>
        </div>
    </div>

    <main class="main">
        <section class="hero">

            <div class="hero-content">

                <div class="hero-buttons">
                    <a href="" target="_blank">
                        <img src="../image/hero1.png" alt="Mô tả tấm ảnh">
                    </a>
                    <a href="none" target="_blank">
                        <img src="../image/hero2.png" alt="Màn Hình">
                    </a>
                    <a href="none" target="_blank">
                        <img src="../image/hero3.png" alt="PC rẻ">
                    </a>
                    <a href="none" target="_blank">
                        <img src="../image/hero4.png" alt="Phù kiện gaming">
                    </a>
                </div>

            </div>

        </section>


        <div id="sale"></div>
        <div id="credit"></div>


        <section class="news">
            <div class="news-content">
                <span class="news-title">Giao hàng toàn quốc
                    <br> <i class="bi bi-truck"></i>
                </span>
                <span class="news-title">Bảo hành chính hãng
                    <br> <i class="bi bi-shield-check"></i>
                </span>
                <span class="news-title">Hỗ trợ kỹ thuật 24/7
                    <br> <i class="bi bi-headset"></i>
                </span>
                <span class="news-title">Thanh toán linh hoạt
                    <br> <i class="bi bi-credit-card"></i>
                </span>
            </div>
        </section>
        
    </main>
    <div id="footer"></div>
    
    <script src="../js/auth.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/sale.js"></script>
    <script src="../js/credit.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>