
<head>

    <link rel="stylesheet" href="../color/product-list.css">

</head>


<body>


    <div id="header"></div>



    <main class="product-page">


        <h1>
            Danh sách sản phẩm
        </h1>



        <div class="filter">
            <button class="button-list" onclick="filterProduct('all')">
                Tất cả
            </button>


            <button class="button-list" onclick="filterProduct('Sách')">
                Sách
            </button>


            <button class="button-list" onclick="filterProduct('Xe')">
                Xe
            </button>


            <button class="button-list" onclick="filterProduct('Nội thất')">
                Nội thất
            </button>

            <button class="button-list" onclick="filterProduct('Đồ điện tử')">
                Đồ điện tử
            </button>

            <button class="button-list" onclick="filterProduct('Quần áo')">
                Quần áo
            </button>

        </div>



        <div id="productList" class="product-grid">

        </div>



    </main>



    <div id="sale"></div>

    <div id="credit"></div>


    <div id="footer"></div>


    <script src="../js/auth.js"></script>

    <script src="../js/product-data.js"></script>

    <script src="../js/product-list.js"></script>

    <script src="../js/sale.js"></script>

    <script src="../js/credit.js"></script>

    <script src="../js/main.js"></script>

</body>
