<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="../color/style.css">



<body>
    <section class="flash-sale" id="sale">

        <h2>FLASH SALE ĐỒ CŨ <i class="bi bi-lightning-charge-fill"></i>
            <span class="countdown">
                <span id="hours">00</span> :
                <span id="minutes">00</span> :
                <span id="seconds">00</span>
            </span>
        </h2>

        <p>
            Chương trình Flash sale diễn ra hàng tuần để mang đến cho khách hàng những sản phẩm chất lượng với giá
            ưu đãi nhất.
        </p>
        <br>

        <div class="hero-flash-sale">

            <div class="item">
                <a href="" target="_blank">
                    <img src="../image/sale1.png" alt="">
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <img src="../image/image1.png" alt="">
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <img src="../image/image2.png" alt="">
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <img src="../image/image3.png" alt="">
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <img src="../image/image1.png" alt="">
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <img src="../image/image4.png" alt="">
                </a>
            </div>

            <div class="item">
                <a href="https://www.youtube.com/@kccshopvn" target="_blank">
                    <img src="../image/image4.png" alt="">
                </a>
            </div>

            <div class="item">
                <a href="https://www.youtube.com/@kccshopvn" target="_blank">
                    <img src="../image/image4.png" alt="">
                </a>
            </div>

            <div class="item">
                <a href="https://www.youtube.com/@kccshopvn" target="_blank">
                    <img src="../image/image4.png" alt="">
                </a>
            </div>

            <div class="item">
                <a href="https://www.youtube.com/@kccshopvn" target="_blank">
                    <img src="../image/image4.png" alt="">
                </a>
            </div>

            <div class="item">
                <a href="https://www.youtube.com/@kccshopvn" target="_blank">
                    <img src="../image/image4.png" alt="">
                </a>
            </div>

        </div>

    </section>
</body>

</html>